@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-form {
    width: 300px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: #fff;
}

.login-form h2 {
    text-align: center;
    color: #1d90dd;
}

.login-form label {
    display: block;
    margin: 10px 0 5px;
}

.login-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1rem;
}

#link {
	display: block;
    width: 95%;
    text-align: center;
    text-decoration: none;
    padding: 8px;
    background: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1rem;
}


#basic-addon1 {
    position: absolute;
    right: 2rem;
    font-size: 1.5rem;
}

#icono{
    color: #1d90dd;
}

/* Fondo de videojuegos (ejemplo) */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../imagenFondo/fondo.jpg.jpg');
    background-size: cover;
    z-index: -1;
    
}
